<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Darbuotojas" alias="Darbuotojas"/>
        <typeAlias type="mybatis.model.Suniukas" alias="Suniukas"/>
        <typeAlias type="mybatis.model.Viesbutis" alias="Viesbutis"/>
        <typeAlias type="mybatis.model.DarbuotojuSuniukuSarasas" alias="DarbuotojuSuniukuSarasas"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/StudentsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/DarbuotojasMapper.xml"/>
        <mapper resource="mybatis/xml/SuniukasMapper.xml"/>
        <mapper resource="mybatis/xml/ViesbutisCourseMapper.xml"/>
        <mapper resource="mybatis/xml/DarbuotojuSuniukuSarasasMapper.xml"/>
    </mappers>
</configuration>